<div class="create_user_form">

	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
	  <fieldset>
	  	<legend>Please Enter User Details</legend>
	  
	  	
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  
	  <div class="dropdownmenu" id="role">
	  	<%= f.label :role %><br />
  		<%= f.collection_select :role_id, @roles, :id, :role_name, :prompt => 'Select Role' %>
  		<br /><br />
  	  </div>
  	  
      <div class="dropdownmenu" id="supervisor">
	  	<%= f.label :supervisor %><br />
  		<%= collection_select :phd_supervisor_relation, :supervisor_id, @supervisors, :id, :name, :prompt => 'Select Supervisor' %>
  		<br /><br />
  	  </div>
	  
	  <div class="field">
	    <%= f.label :password, 'Password' %><br />
	    <%= f.password_field :password %>
	  </div>
	  
	  <div class="field">
	  	<%= f.label :password_confirmation, 'Confirm Password' %><br />
	  	<%= f.password_field :password_confirmation %>
	  </div>
	  
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	  
	  </fieldset>
	<% end %>
</div>

<%- # Hides the supervisor box if it is not a phd student -%>
<script>
  $(document).ready(function(){
     if($('#user_role_id').val() != 1){
        $("#supervisor").css('display','none')
     }
     else{
        $("#supervisor").css('display','block')
     }

     $('#user_role_id').change(function(){
        if($(this).val() != 1){
          $("#supervisor").css('display','none')
        }
        else{
          $("#supervisor").css('display','block')
        }
     })
  });

</script>