<p id="notice"><%= notice %></p>

<div id="user_info">
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<% if @user.role == "PhD Student" %>
<p>
  <b>Supervisor:</b>
  <%= @user.supervisor_name %>
</p>

<% else %>
<p>
  <b>Supervising:</b>
  <% @user.phd_names.each do |name| %>
  	<li><%= name %></li>
  <% end %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user.role == "PhD Student" %>
</div>
<div id="progress_plan">
	
<p>
	<b>Progress Plan:</b>
</p>
<table border="1">
  <tr>
  	<th>PhD Name</th>
    <th>Milestone</th>
    <th>Plandate</th>
    <th>Completedate</th>
    <th>PDF</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render(@user.progresses) %>
</table>
<br />
<%= link_to 'New Progress Plan', new_progress_path %>
</div>
<div id="authorships">
	
<p>
	<b>Authorships:</b>
</p>
<table border="1">
  <tr>
    <th>User Id</th>
    <th>User Name</th>
    <th>Article Id</th>
    <th>Article Name</th>
    <th></th>
  </tr>
  <%= render( @user.authors ) %>
</table>
<br />
<%= link_to 'New Authorship', new_article_path %>
</div>
<% end %>