<!DOCTYPE html>
<html>
<head>
  <title>PhD Administration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<%- # image_tag("logo.png") -%>
		<%= @page_title || "Phdadm" %>
	</div>
	<div id="columns">
		<div id="side">
			
			<% time = Time.now %>
			<%= time.to_formatted_s(:long)%>
			<br /><br />
			<%= link_to "Articles", articles_path %><br />
			<%= link_to "Authorships", authors_path %><br />
			<%= link_to "Courses", courses_path %><br />
			<%= link_to "Enrollments", enrollments_path %><br />
			<%= link_to "Progresses", progresses_path %><br />
			<%= link_to "PhD Supervisor Relations", phd_supervisor_relations_path %><br />
			<%= link_to "Roles", roles_path %><br />
			<%= link_to "Supervisor Declarations", supervisor_progress_declarations_path %><br />
			<%= link_to "Users", users_path %><br />
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
